@{
    ViewData["Title"] = "Courses";
}

<div id="course_img">
    <div id="wlcm_img" class="">
        <img src="~/image/4lleuyi7.png" alt="Alternate Text" />
        <img src="~/image/fagabcf6.png" alt="Alternate Text" />
    </div>
</div>