@{
    ViewData["Title"] = "About Us";
}

@*section containing details about GibJohn Tutoring*@
<section style="border-radius:20px" class="bg-success pt-5">
    <div class="text-white text-start pb-3 pt-5 m-5">
        <h1>About Us</h1>
        <br />
        <p class="text-start text-center m-5 pt-5">
            Welcome to GibJohn Tutoring, where education meets inspiration! Our mission is to empower students to reach their fullest potential through personalised tutoring and dedicated support. Founded by a passionate team educators, we accomodate different learning styles and paces, ensuring that every student not only grasps the material but also develops a love for learning. Whether your struggling with complex math problems,  aiming to improve your reading skills, or preparing for standardised tests, our qualified tutors are here to guide your every step of the way. We offer one-on-one sessions, group tutoring, and even online classes, making it convenient for you to get the help you need, when you need it. At GibJohn Tutoring, we believe in building a supportive and encouraging environment where students can ask questions freely and explore their academic interests. Our tutors are not just educators; they are mentors committed to fostering confidence and curiosity in their students. <br /> Join us on this journey of academic achievement and self-discovery. Together, let's unlock the door to knowledge and pave the way for a brighter future! <br /> <br /> <hr> <strong>Get started today and experience the difference with GibJohn Tutoring!</strong>
        </p>
    </div>
</section>