@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <div class="text-center pt-3 border-bottom">
        <div class="header">
            <img src="~/image/GibJohn Tutoring_transparent-.png" alt="Logo" />
            <h2>GibJohn Tutoring</h2>
            <p class="pt-2 bg-opacity-10">A FAMILY OF EDUCATION</p>
        </div>
    </div>

    <div class="dashboard">
        @* <h4 class="text-center">Dashboard</h4> *@
        <div class="db_option_carrier">
            <div class="db-option">
                <a href="">
                    Profile
                </a>
            </div>
            <div class="db-option">
                <a href="">
                    Courses
                </a>
            </div>
            <div class="db-option">
                <a href="">
                    Progress
                </a>
            </div>
        </div>
    </div>

    <div class="popular_used">
        <div class="nav_most_pop">
            <nav>Most Popular Courses</nav>
        </div>
        <div class="bg-secondary">
            
        </div>
        <div class="bg-secondary">

        </div>
        <div class="bg-secondary">

        </div>
        <div class="bg-secondary">

        </div>
        <div class="bg-secondary">
            <p></p>
        </div>
    </div>
</div>

<div class="para_note">
    <p>
        Et voluptua nulla invidunt et duis dolore clita vero erat molestie consetetur sit et ipsum at vel liber et ex ex duo nonummy dolore eos amet praesent lorem facilisis vel eleifend ea ipsum suscipit veniam odio tempor dolor vero ipsum duis et magna diam sed diam et sed sit nonummy voluptua ipsum sea eos tempor rebum et autem erat euismod amet amet et consetetur accusam et in suscipit no sit dolores sit eirmod et et et tempor amet eros et gubergren eros odio invidunt tempor dolore gubergren aliquyam ipsum dolor diam quis qui feugiat te labore tempor odio dignissim sed
    </p>
</div>

<footer>

</footer>

<a href="#"></a>