@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h2>GibJohn Tutoring</h2>
        <p class="pt-2 bg-opacity-10">A FAMILY OF EDUCATION</p>
    </div>

    <div class="bg-secondary pt-1 start border-3 text-start">
        <ul>
            <li class="list-unstyled pt-3"></li>
            <li class="list-unstyled pt-3"></li>
            <li class="list-unstyled pt-3"></li>
            <li class="list-unstyled pt-3"></li>
            <li class="list-unstyled pt-3"></li>
            <li class="list-unstyled pt-3"></li>
        </ul>
    </div>
</div>