@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <div class="text-center pt-3 border-bottom">
        <div class="header">
            <img src="~/image/GibJohn Tutoring_transparent-.png" alt="Logo" />
            <h2>GibJohn Tutoring</h2>
            <p class="pt-2 bg-opacity-10">A FAMILY OF EDUCATION</p>
        </div>
    </div>

    <div class="dashboard">
        @* <h4 class="text-center">Dashboard</h4> *@
        <div class="db_option_carrier">
            <div class="db-option">
                <a href="">
                    Profile
                </a>
            </div>
            <div class="db-option">
                <a href="">
                    Courses
                </a>
            </div>
            <div class="db-option">
                <a href="">
                    Progress
                </a>
            </div>
        </div>
    </div>
    <div>
        <img src="#" alt="Alternate Text" />
        <img src="#" alt="Alternate Text" />
        <img src="#" alt="Alternate Text" />
        <img src="#" alt="Alternate Text" />
        <img src="#" alt="Alternate Text" />


    </div>
    <div class="popular_used">
        <div class="nav_most_pop">
            <nav>Most Popular Courses</nav>
        </div>
        <div class="bg-secondary">
            <h5 class="border-bottom ">Software Development</h5>
            <p> Come explore and discover how you to access a new world. The digital world is entirely different and here's your opportunity to learn more about it.</p>
        </div>
        <div class="bg-secondary">

        </div>
        <div class="bg-secondary">

        </div>
        <div class="bg-secondary">

        </div>
        <div class="bg-secondary">
            <p></p>
        </div>
    </div>
</div>

<div class="para_note">
    <img src="~/image/parapic.jpg" alt="Alternate Text" />
    <p>
        GibJohn online tutoring website connects students with qualified tutors for <br /> personalized learning experiences conducted via digital platforms. <br /> These websites typically offer a range of subjects and educational levels, allowing learners to find expert <br /> help that suits their individual needs. Through video calls, chat, and interactive tools, students can engage in real-time lessons, receive feedback, <br /> and access educational resources, all while enjoying the convenience of flexible scheduling from the comfort of their homes.
    </p>
</div>

