@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>GibJohn Tutoring</h2>
    <p class="pt-2 bg-opacity-10">A FAMILY OF EDUCATION</p>
</div>

<div class="bg-secondary pt-1 border-3 start-50" width="200" heigth="150">
    <ul>
        <li class="list-unstyled pt-3"></li>
        <li class="list-unstyled pt-3"></li>
        <li class="list-unstyled pt-3"></li>
        <li class="list-unstyled pt-3"></li>
        <li class="list-unstyled pt-3"></li>
        <li class="list-unstyled pt-3"></li>
    </ul>
</div>