@{
    ViewData["Title"] = "Home Page";
}


<section class="text-black">
    <div class="container-fluid">
        <div class="text-center pt-3 border-bottom">
            <div class="header">
                <img src="~/image/GibJohn Tutoring_transparent-.png" alt="Logo" />
                <h1>GibJohn Tutoring</h1>
            </div>
        </div>

        <div class="dashboard">
            @* <h4 class="text-center">Dashboard</h4> *@
            <div class="db_option_carrier">
                <div class="db-option">
                    <a href="">
                        Profile
                    </a>
                </div>
                <div class="db-option">
                    <a href="">
                        Courses
                    </a>
                </div>
                <div class="db-option">
                    <a href="">
                        Progress
                    </a>
                </div>
            </div>
        </div>

        <div class="wlcm_screen">
            <div class="wlcm_img">
                <div class="wlcm-img_row1">
                    <img src="~/image/4lleuyi7.png" alt="Alternate Text" />
                    <img src="~/image/fagabcf6.png" alt="Alternate Text" />
                </div>
                <div class="wlcm-img_row2">
                    <img src="~/image/young-female-teacher-teaching-college-students-via-video-call-app-laptop-computer-flat-design_253672-21.jpg" alt="Alternate Text" />
                </div>
            </div>
            <div wlcm_text>
                <p>Welcome</p>
                <p>Come learn, grow and discover with us. </p>
            </div>
        </div>

        <div class="popular_used">
            <div class="nav_most_pop">
                <nav>Most Popular Courses</nav>
            </div>
            <div class="bg-secondary">
                <h5 class="border-bottom ">Software Development</h5>
                <p> Come explore and discover how you to access a new world. The digital world is entirely different and here's your opportunity to learn more about it.</p>
            </div>
            <div class="bg-secondary">
            </div>
            <div class="bg-secondary">
            </div>
            <div class="bg-secondary">
            </div>
            <div class="bg-secondary">
                <p></p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="para_note">
        <img src="~/image/parapic.jpg" alt="Alternate Text" />
        <p>
            GibJohn online tutoring website connects students with qualified tutors for <br /> personalized learning experiences conducted via digital platforms. <br /> These websites typically offer a range of subjects and educational levels, allowing learners to find expert <br /> help that suits their individual needs. Through video calls, chat, and interactive tools, students can engage in real-time lessons, receive feedback, <br /> and access educational resources, all while enjoying the convenience of flexible scheduling from the comfort of their homes.
        </p>
    </div>
</section>

@*section containing details about GibJohn Tutoring*@
<section style= "border-radius:20px" class="bg-primary">
    <div class="text-white text-start pb-3 pt-5 m-5">
        <h1>About Us</h1>
        <br />
        <p class="text-start m-5">
            Welcome to GibJohn Tutoring, where education meets inspiration! Our mission is to empower students to reach their fullest potential through personalised tutoring and dedicated support. <br /> Founded by a passionate team educators, we accomodate different learning styles and paces, ensuring that every student not only grasps the material but also develops a love for learning. <br /> Whether your struggling with complex math problems, aiming to improve your reading skills, or preparing for standardised tests, our qualified tutors are here to guide your every step of the way. We offer one-on-one sessions, group tutoring, and even online classes, making it convenient for you to get the help you need, when you need it. At GibJohn Tutoring, we believe in building a supportive and encouraging environment where students can ask questions freely and explore their academic interests. Our tutors are not just educators; they are mentors committed to fostering confidence and curiosity in their students. <br /> Join us on this journey of academic achievement and self-discovery. Together, let's unlock the door to knowledge and pave the way for a brighter future! <br /> <br /> <hr> <strong>Get started today and experience the difference with GibJohn Tutoring!</strong>
        </p>
    </div>
</section>

<footer class="border-top footer text-muted">
    <div class="container-fluid text-center text-white">
        <a asp-area="" asp-controller="Home" asp-action="Index">          
            <p class="text-white"> <strong>GibJohn Tutoring</strong> © 2024 GibJohn Tutuoring, Inc.</p>
        </a>
    </div>
</footer>