@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <div class="text-center pt-3 border-bottom">
        <div>
            <img src="#" alt="Alternate Text" />
        </div>
        <h2>GibJohn Tutoring</h2>
        <p class="pt-2 bg-opacity-10">A FAMILY OF EDUCATION</p>
    </div>

    @* <div class="bg-white pt-1 start-50 text-md-center">
    <ul>
    <li class="list-unstyled pt-3"></li>
    <li class="list-unstyled pt-3"></li>
    <li class="list-unstyled pt-3"></li>
    <li class="list-unstyled pt-3"></li>
    <li class="list-unstyled pt-3"></li>
    <li class="list-unstyled pt-3"></li>
    </ul>
    </div> *@

    <div class="dashboard">
        <h4 class="text-center">Dashboard</h4>
        <div class="db-option">
            <p>
                Profile
            </p>
        </div>
        <div class="db-option">
            <p>
                Courses
            </p>
        </div>
        <div class="db-option">
            <p>
                Progress
            </p>
        </div>
        <div class="db-option">
            <p>
                FAQs
            </p>
        </div>
        <div class="db-option">
            <p>
                Contact Us
            </p>
        </div>
        <div class="db-option">
            <p>
                About Us
            </p>
        </div>
    </div>

    <div class="popular_used">
        <div class="nav_most_pop">
            <nav>Most Popular Courses</nav>
        </div>
        <div class="bg-secondary">

        </div>
        <div class="bg-secondary">

        </div>
    </div>
</div>

<footer>

</footer>