@{
    ViewData["Title"] = "Home Page";
}


<section class="text-black">
    <div class="container-fluid">
        <div class="text-center pt-3 border-bottom">
            <div id="header">
                <img src="~/image/GibJohn Tutoring_transparent-.png" alt="Logo" />
                <h1>GibJohn Tutoring</h1>
            </div>
        </div>

        <div id="options">
            <div id="option_carrier">
                <div id="option">
                    <a href="">
                        Courses
                    </a>
                </div>
                <div id="option">
                    <a href="">
                        Progress
                    </a>
                </div>
            </div>
        </div>

        <div id="wlcm_screen">
            <div id="wlcm_text" class="w-50">
                <p class="fw-bolder text-xxl-center">Welcome <br /> Learn, <br /> Grow <br /> & Discover with us. </p>
            </div>
            <div id="wlcm_img" class="w-50">
                <img class="w-100" src="~/image/young-female-teacher-teaching-college-students-via-video-call-app-laptop-computer-flat-design_253672-21.jpg" />
            </div>
        </div>

        <div id="popular_used">
            <div id="pop_course_nav">
                <nav>Most Popular Courses</nav>
            </div>
            <div id="popular_course" class="bg-secondary">
                <h5 class="border-bottom ">Software Development</h5>
                <p> Come explore and discover how you to access a new world. The digital world is entirely different and here's your opportunity to learn more about it.</p>
            </div>
            <div id="popular_course" class="bg-secondary">
                <h5 class="border-bottom ">Software Development</h5>
                <p> Come explore and discover how you to access a new world. The digital world is entirely different and here's your opportunity to learn more about it.</p>
            </div>
            <div id="popular_course" class="bg-secondary">
                <h5 class="border-bottom ">Software Development</h5>
                <p> Come explore and discover how you to access a new world. The digital world is entirely different and here's your opportunity to learn more about it.</p>
            </div>
            <div id="popular_course" class="bg-secondary">
                <h5 class="border-bottom ">Software Development</h5>
                <p> Come explore and discover how you to access a new world. The digital world is entirely different and here's your opportunity to learn more about it.</p>
            </div>
            <div id="popular_course" class="bg-secondary">
                <h5 class="border-bottom ">Software Development</h5>
                <p> Come explore and discover how you to access a new world. The digital world is entirely different and here's your opportunity to learn more about it.</p>
            </div>
        </div>
    </div>
</section>

<section>

</section>

<section>
    <div id="para_note">
        <img src="~/image/parapic.jpg" alt="Alternate Text" />
        <p>
            GibJohn online tutoring website connects students with qualified tutors for <br /> personalized learning experiences conducted via digital platforms. <br /> These websites typically offer a range of subjects and educational levels, allowing learners to find expert <br /> help that suits their individual needs. Through video calls, chat, and interactive tools, students can engage in real-time lessons, receive feedback, <br /> and access educational resources, all while enjoying the convenience of flexible scheduling from the comfort of their homes.
        </p>
    </div>
</section>

<br />

@*A section containing links to all pages of the website.*@
<section>
    <div id="allLink" class="bg-black text-md-center">
        <p><a class="text-white" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a></p>
        <p><a class="text-white" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a></p>
    </div>
</section>

<footer class="border-top footer text-muted">
    <div class="container-fluid text-center text-white">
        <a asp-area="" asp-controller="Home" asp-action="Index">          
            <p class="text-white"> <strong>GibJohn Tutoring</strong> © 2024 GibJohn Tutuoring, Inc.</p>
        </a>
    </div>
</footer>