html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /*margin-bottom: auto;*/
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.9));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*INDEX.CSHMTL STYLING*/
#header {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 20px
}

#header h2 {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#header img {
    position: absolute;
    width: 200px;
    left: 0;
    top: 20px;
}

#options {
    min-height: 45px;
    padding: 2%;
    align-items: center;
    justify-content: center;
}

#option_carrier {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#option {
    box-sizing: border-box;
    width: 20%;
    max-height: 7%;
    background: #f9f9f9;
    font-weight: bold;
    margin: auto;
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: black;
}

#wlcm_screen {
    display: flex;
}

    #wlcm_img {
        display: grid;
    }

        #wlcm_img img {
            left: 70%;
            height: 80%;
            width: 70%;
            justify-self: center;
            top: 10%;
            border-radius: 20px;
            position: relative;
        }

    #wlcm_text {
        display: grid;
        width: 30%;
        border-radius: 20px;
        right: -11%;
    }

        #wlcm_text h1 p {
            position: relative;
            font-weight: bold;
            text-align: center;
            font-size: x-large;
        }

#popular_used {
    top: 800px;
    left: 360px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

    #pop_course_nav {
        text-align: center;
        background-color: #f9f9f9;
        border-radius: 20px;
        bottom: 30%;
        width: 95%;
        height: 2%;
        align-items: center;
        font-weight: bold;
        justify-content: center;
    }

    #popular_course {
        box-sizing: border-box;
        width: 13%;
        max-height: 10%;
        margin: 2%;
        padding: 2%;
        text-align: center;
        border-radius: 20px;
    }

#para_note {
    display: flex;
    justify-self: center;
    width: 70%;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: 2%;
}

    #para_note img {
        width: 20%;
        border-start-start-radius: 20px;
    }

    #para_note p {
        font-size: large;
        left: 30%;
        box-sizing: border-box;
        padding: 1.4%;
        margin: auto;
        font-weight: bolder;
        width: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

/*ContactUs.cshtml Styling*/
#location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

    #location iframe {
        width: 100%;
    }

#contactUs {
    width: 80%;
    margin: auto;
}

    #contactLabels {
        flex-basis: 48%;
        margin-bottom: 30px;
    }

    #contactLabels div {
        align-items: center;
    }

        #contactLabels div .fa {
        }

        #contactLabels div h5 p {
            color: black;
        }

        #contactInputs input, #contactInputs textarea {
            width: 100%;
            padding: 15px;
            margin-bottom: 17px;
            outline: none;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }



/*LOGIN.CSHTML, REGISTER.CSHTML AND REGISTERASINSTRUCTOR.CSHTML STYLING*/
.row {
    background-image: linear-gradient(cadetblue, rgba(10, 20, 30, 0.7)), url('../image/GibJohn Tutoring-.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 93.3vh;
}

.col-md-4 h1 {
    padding: 30px;
    text-align: center;
}

section, form #account {
    align-items: center;
    justify-content: center;
    color: slategray;
}



/*RESPONSIVE STYLING FOR THE WEBSITE WHEN WIDTH IS REDUCED TO A CERTAIN SIZE TO A DEVICE*/
@media (max-width: 402px) {
    /*INDEX.CSHMTL STYLING*/
    #header {
        width: 100%;
        padding-top: 75px;
        padding-bottom: 20px
    }

        #header h2 {
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        #header img {
            position: absolute;
            width: 200px;
            left: 0;
            top: 12px;
        }

    #options {
        min-height: 45px;
        padding: 2%;
        align-items: center;
        justify-content: center;
    }

    #option_carrier {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    #option {
        box-sizing: border-box;
        width: 20%;
        max-height: 7%;
        background: #f9f9f9;
        font-weight: bold;
        margin: auto;
        text-decoration: none;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-radius: 20px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    #wlcm_screen {
        display: flex;
    }

    #wlcm_img {
        display: grid;
    }

        #wlcm_img img {
            left: 13.8%;
            height: 80%;
            width: 50%;
            justify-self: center;
            top: 10%;
            border-radius: 20px;
            position: relative;
        }

    #wlcm_text {
        display: grid;
        position: relative;
        width: 30%;
        border-radius: 20px;
        position: relative;
        right: -11%;
    }

        #wlcm_text h1 {
            top: 30%;
            text-align: center;
        }

        #wlcm_text p {
            font-weight: bold;
            text-align: center;
            font-size: x-large;
        }

    #popular_used {
        top: 800px;
        left: 360px;
        width: 100%;
        min-height: 300px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 2%;
    }

    #pop_course_nav {
        text-align: center;
        background-color: #f9f9f9;
        border-radius: 20px;
        bottom: 30%;
        width: 95%;
        height: 2%;
        align-items: center;
        font-weight: bold;
        justify-content: center;
    }

    #popular_course {
        box-sizing: border-box;
        width: 13%;
        max-height: 10%;
        margin: 2%;
        padding: 2%;
        text-align: center;
        border-radius: 20px;
    }

    #popular_course h5 {
        font: 2px;
    }

    #para_note {
        display: flex;
        justify-self: center;
        width: 70%;
        background-color: black;
        color: white;
        border-radius: 20px;
        margin: 2%;
    }

        #para_note img {
            width: 20%;
            border-start-start-radius: 20px;
        }

        #para_note p {
            font-size: large;
            left: 30%;
            box-sizing: border-box;
            padding: 1.4%;
            margin: auto;
            font-weight: bolder;
            width: 50%;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

    /*ContactUs.cshtml Styling*/
    #location {
        width: 80%;
        margin: auto;
        padding: 80px 0;
    }

        #location iframe {
            width: 100%;
        }

    #contactUs {
        width: 80%;
        margin: auto;
    }

    #contactLabels {
        flex-basis: 48%;
        margin-bottom: 30px;
    }

        #contactLabels div {
            align-items: center;
        }

            #contactLabels div .fa {
            }

            #contactLabels div h5 p {
                color: black;
            }

    #contactInputs input, #contactInputs textarea {
        width: 100%;
        padding: 15px;
        margin-bottom: 17px;
        outline: none;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }



    /*LOGIN.CSHTML, REGISTER.CSHTML AND REGISTERASINSTRUCTOR.CSHTML STYLING*/
    .row {
        background-image: linear-gradient(cadetblue, rgba(10, 20, 30, 0.7)), url('../image/GibJohn Tutoring-.png');
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
        height: 93.3vh;
    }

    .col-md-4 h1 {
        padding: 30px;
        text-align: center;
    }

    section, form #account {
        align-items: center;
        justify-content: center;
        color: slategray;
    }
}