* {
    color: cadetblue;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* using "*" affects the styling of the whole website (including all pages) */

body {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../image/olena-bohovyk-Ft_Wn-K5YH8-unsplash.jpg);
    background-size: cover;
    background-position: center;
/*    width: 100vw;*/
    margin-bottom: 60px;
}
/*Index.cshtml styling*/

div .head_bar pt-3 border-bottom{
    display: flex;
    text-align: center;
}

div .header h2 ,p {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

div .header img {
    position: absolute;
    width: 200px;
    display: flex;
    left: 0;
    top: 20px;
}

.dashboard {
    min-height: 45px;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}

div .db_option_carrier {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
/*    text-decoration: none;*/
}

.db-option {
    box-sizing: border-box;
    width: 250px;
    max-height: 50px;
    background: #f9f9f9;
    opacity: 60%;
    margin: auto;
/*    padding: 30px;*/
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}

.db_option a {
    text-decoration: none;
}

    .db-option p:nth-child(2) {
        font-family: system-ui;
        font-size: 20px;
        font-weight: 700;
        padding: 25px 0 15px 0;
    }

    .db-option p:nth-child(3) {
        font-family: system-ui;
        font-size: 17px;
        line-height: 30px;
        height: 135px;
    }

    .db-option p:nth-child(4) {
        font-family: system-ui;
        font-size: 17px;
        font-weight: 500;
        text-transform: capitalize;
        width: 200px;
        transition: .3s all ease-in-out;
    }

    .db-option p:nth-child(5) {
        font-family: system-ui;
        font-size: 17px;
        line-height: 30px;
        height: 135px;
    }

    .db-option p:nth-child(6) {
        font-family: system-ui;
        font-size: 17px;
        line-height: 30px;
        height: 135px;
    }

.dashboard .pikin:nth-child(2) p:nth-child(4) .fa {
    background: #e7f5fd;
    color: #58a9fd;
}

.dashboard .pikin:nth-child(3) p:nth-child(4) .fa {
    background: #e7fdf0;
    color: #34ac62;
}

.dashboard .pikin:nth-child(4) p:nth-child(4) .fa {
    background: #fbe9f5;
    color: #e850a1;
}

div .popular_used {
    position: absolute;
    top: 800px;
    left: 360px;
    width: 70%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
}

    div .bg-secondary {
        box-sizing: border-box;
        opacity: 60%;
        width: 300px;
        min-height: 250px;
        margin: 20px;
        padding: 30px;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
    }

div .nav_most_pop {
    position: absolute;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 50px;
    bottom: 350px;
    font-weight: bold;
    width: 43%;
    min-height: 15px;
    align-items: center;
    justify-content: center;
}



/*Login.cshtml and Register.cshtml Stlying*/

div .row {
    justify-content: center;
    align-items: center;

}

div .col-md-4 h1 {
    padding: 30px;
    text-align: center;
    color: cadetblue;
}

section, form #account {
    align-items: center;
    justify-content: center;
    color: slategray;
}

